﻿<template>
    <div>
        <p>This component demonstrates fetching data from the server.</p>
        <p v-if="!products">
            <em>Loading...</em>
        </p>
        <table class="table" v-if="products">
            <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Loại sản phẩm</th>
                    <th>Giá</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            </tbody>
        </table>
    
        <div class="col-lg-push-4">
            <div class="col-md-7">
                <input type="text" name="search" value="" class="form-control" placeholder="Tìm kiếm..." v-model="name" />
            </div>
        </div>
    </div>
</template>
<script>
import axios from "axios";
export default {
    data() {
        return {
            products: null,
            name: ''
        }
    },
    watch: {
        name: function () {
            if (this.name.length >= 1) {
                this.search();
            }
            else {
                this.loadAll();
            }
        }
    },
    methods: {
        search: function () {
            var app = this;
            axios({
                method: 'get',
                url: '/api/SampleData/Search=' + app.name,
                responseType: 'json'
            })
                .then(function (response) {
                    // console.log(response.data);
                    app.products = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
        },
        loadAll: function () {
            var app = this;
            axios({
                method: 'get',
                url: '/api/SampleData/GetAllProducts',
                responseType: 'json'
            })
                .then(function (response) {
                    // console.log(response.data);
                    app.products = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
        }
    },

    async created() {
        // ES2017 async/await syntax via babel-plugin-transform-async-to-generator
        // TypeScript can also transpile async/await down to ES5
        //try {
        //    let response = await this.$http.get('/api/SampleData/WeatherForecasts')
        //    console.log(response.data);
        //    this.forecasts = response.data;
        //} catch (error) {
        //    console.log(error)
        //}
        var app = this;
        axios({
            method: 'get',
            url: '/api/SampleData/GetAllProducts',
            responseType: 'json'
        })
            .then(function (response) {
                // console.log(response.data);
                app.products = response.data;
            }).catch(function (error) {
                console.log(error);
            });
    }
}
</script>
<style>

</style>